<div style="width: 100%; height: 100%;" class="sidebar-container">
    <div class="network-type-main">
        <div class="welcome-banner-ctn">
            <h3>Welcome to ExtremeCloud IQ</h3>
            <div class="welcome-banner-content">
                Optimize your ExtremeCloud IQ experience by setting up, organizing and planning your network.
            </div>
        </div>

        <div class="network-type-ctn">
            <div class="network-type">
                <div class="grid_2 first column">
                    <div class="cloud-icon"></div>
                </div>

                <div class="network-text last column">
                    <label class="radio">
                        <input type="radio">
                        <span class="lbl">
                            Manage your devices directly from the cloud
                            <div class="ml30">
                                (Start here if you intend to manage your device with ExtremeCloud IQ)
                            </div>
                        </span>
                    </label>
                </div>
            </div>
        </div>

        <div class="network-type-ctn">
            <div class="network-type">
                <div class="grid_2 first column">
                    <div class="local-icon"></div>
                </div>

                <div class="network-text last column">
                    <label class="radio">
                        <input type="radio">
                        <span class="lbl">
                            Manage your devices locally
                            <div class="ml30">
                                (Start here if you intend to manage your device with an on-premise Controller (changes OS of AP to on-premise mode) or other on-premise tools while ExtremeCloud IQ monitors your devices)
                            </div>
                        </span>
                    </label>
                </div>
            </div>
        </div>

        <div class="help-ctn">
            <h5>Need Help?</h5>
            <div class="help-content">
                For any help or instructions on deploying and configuring your ExtremeCloud IQ devices, refer to the
                <a routerLink="#" target="_blank">Getting Started Guide</a>
            </div>
        </div>


    </div>
</div>
