.sidenav-container {
    height: 100%;
  }
  
.sidenav {
    width: 60px;
    background: linear-gradient(125deg, #0e80cb 0, #0e80cb 10%, #409 100%, #409 100%);
    z-index: 9999;
    position: fixed;
}
  
.help {
    position: relative;
    top: 400px;
}

.chevron-right {
    position: relative;
    top: 420px;
    color: #ffffff;
}
/* .help {
    margin-top: auto; 
    margin-left: auto; 
}

.chevron-right {
    margin-top: auto; 
    margin-left: auto; 
    color: #ffffff;
} */

.nav-list img:not(.pilot) {
    width: 100%;
    filter: invert(1);
}

.pilot {
    width: 30px; 
    height: 35px;
    background: url('/assets/images/pilot.svg') no-repeat center;
    background-size: contain;
}

@media only screen and (max-width: 600px) {
    .sidenav {
      width: 100%;
    }
} 

.sub-sidenav {
    width: 160px;
    background: white;
    color: black;
    position: absolute;
    left: 60px;
    top: 56px;
}

.sub-sidenav mat-icon {
    position: absolute;
    bottom: 0;
}