<!-- <p>configure works!</p> -->
<!-- <en-calendar></en-calendar> -->
<div class="cal">
    <en-button>Label</en-button>
</div>

<en-button class="cal">Testing Button</en-button>


<en-checkbox data-testid="checkbox" label="Checkbox legend label" fieldnote="This is a field note." class="cal">
    <en-checkbox-item name="checkbox-name" value="checkbox-value-1">Checkbox item 1</en-checkbox-item>
    <en-checkbox-item name="checkbox-name" value="checkbox-value-2">Checkbox item 2</en-checkbox-item>
    <en-checkbox-item name="checkbox-name" value="checkbox-value-3">Checkbox item 3</en-checkbox-item>
    <en-checkbox-item name="checkbox-name" value="checkbox-value-4">check4</en-checkbox-item>
</en-checkbox>