<div class="container">
    <div class="defender-subscribe">
        <div class="partition-div left-content center-container">
            <div class="app-banner">
                <img src="assets/images/XIOT-ad-banner.svg">
            </div>
        </div>
        <div class="partition-div right-content center-container">
            <div class="center-container">
                <p class="know-more-message">Want to know more about ExtremeLocation Essentials?</p>
                <div class="video-help-icon know-more-video-icon"></div>
                <p class="subscribe-msg">Enable</p>
                <p class="pilot-msg">Enable to explore Location Services</p>
                <p class="pilot-msg">Included with Pilot subscription - no additional cost</p>
            </div>
            <span class="enable-btn">
                <span>Enable</span>
            </span>
            <div class="mt50 ui-tipbox-ctn">
                <div class="ui-tipbox ui-tipbox-notice" style="width: auto;">
                    <div class="ui-tipbox-icon"></div>
                    <div class="pilot-msg ui-tipbox-can">
                        <p>ExtremeLocation Essentials Supported Devices</p>
                        <p>AP302W, AP305C/CX, AP410C, AP460C, AP460S,</p>
                        <p>AP510C, AP4000, AP4000U, AP650, AP650X, AP3000,</p>
                        <p>AP3000X, AP5010, AP5010U, AP5050U, AP5050D</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
