<div class="container">
    <div class="left-col">
        <div class="left-col-content">
            <img src="/assets/images/extremecloudiq.png" height="60px">
        </div>
        <!-- <div class="">
            <form class="login-form">
                <span class="email-label">Email</span>
                <input type="email" name="username" class="email-text" autocapitalize="none">
                <br>
                <span class="password-label">Password</span>
                <input type="password" name="password" class="password-text">
                <br>
                <input type="submit" value="login" class="login-button">
                <br>
            </form>
        </div> -->
            <form [formGroup]="loginForm" class="login-form">
                <span class="email-label" [class.active]="emailActive  || loginForm.controls.username.value">Email</span>
                <input type="email" formControlName="username" class="email-text" autocapitalize="none" (focus)="emailActive=true" (blur)="emailActive=false">
                <br>
                <span class="password-label" [class.active]="passwordActive  || loginForm.controls.password.value">Password</span>
                <input type="password" formControlName="password" class="password-text" (focus)="passwordActive=true" (blur)="passwordActive=false">
                <br>
                <input type="submit" value="LOGIN" class="login-button">
                <br>
            </form>
            <span class="forgot-password">Forgot your password? <a href="#/" class="cblue">Reset it here</a></span>
            <br>
            <span class="forgot-password">Don't have an account? <a href="https://www.extremenetworks.com/cloud-networking/" target="_blank" class="cblue">Register here</a></span>


            <div class="page-footer">
                <div class="copyright">
                    © 2024 Extreme Networks - All Rights Reserved. 
                    <div class="service-iso">
                        <div class="show-iso">
                            <a href="javascript:void(0);" class="cblue" id="iso-cert">ISO 27001 Certificate  | </a>
                        </div>

                        <div class="service-availability">
                            <a href="https://cloud-status.extremecloudiq.com/status/index.html" target="_blank" class="cblue" id="serv-avai">Service Availability</a>
                        </div>
                    </div>
                </div>
            </div>
    </div>

    <div class="right-col">
        <div class="ad-container">
            <img src="https://cloud-status.extremecloudiq.com/communications/banner/banner.svg" width="700px" height="400px">
        </div>
        <div class="en">
            <img src="/assets/images/en.png" width="300px" height="45px">
        </div>
    </div>
</div>