.promo-page {
    background: #e4e8f3;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    z-index: 1 !important;
    margin-left: 60px;
}

.promo-photo {
    align-items: center;
    display: flex;
    margin-left: 60px;
    margin-right: 2vw;
    max-width: 480px;
}

.promo-detail {
    background: #ffffff;
    width: 520px;
    padding: 30px;
    border-radius: 3px;
    text-align: center;
    display: flex;
    align-self: center;
    margin-right: 4vw;
    margin-top: -35px;
}

@media only screen and (max-width: 600px) {
    .promo-page {
      flex-direction: column;
    }
    .promo-photo, .promo-detail {
      margin-left: 0;
      max-width: 100%;
    }
}