<app-xiq-nav></app-xiq-nav>
<p>copilot works!</p>
<h2>ehdwhddsdhiudh kj heuiweu</h2>
<form  id="form1">
    <label for="fname">First name:</label>
    <input type="text" id="fname" name="fname"><br><br>
    <input type="submit" value="Submit">
  </form>
  
  <label for="lname">Last name:</label>
  <input type="text" id="lname" name="lname" form="form1">

  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam voluptate, eum quos modi eligendi sed. Voluptate sed autem, illum quo libero aliquam adipisci saepe beatae, nemo eos, iste vitae reiciendis.  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Placeat exercitationem vitae, accusamus consectetur, deserunt voluptatem saepe dolore tempora iste repudiandae ullam, excepturi sit tempore dolores molestiae temporibus obcaecati laudantium magnam? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam vel debitis ut, commodi dicta laborum repellat eaque molestiae ullam vitae excepturi ipsum provident velit impedit consectetur incidunt quam corrupti. Ipsa.
  </p>